In [ ]:
# check the arithmatic operations(+,-,*,/,//,**,%), booleanoperations(>,<,>=,<=,in,==,!=,is,not,not in)
# bitwise operations(>>,<<,&,|,^) on all datatypes of python.
# install anaconda and makesure that it is working fine.
# prepare chat on what operation supports on what datatypes.

In [ ]:
a=1000
print(a, type(a))
a=12.34
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=None
print(a, type(a))
a=False
print(a, type(a))
a="python"
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,3,4)
print(a, type(a))
a={1,2,3,4}
print(a, type(a))
a={1:2,3:4}
print(a, type(a))
import numpy as np
a=np.array([1,2,3,4])
print(a, type(a))
import pandas as pd
a=pd.DataFrame({"name":["sai"]})
print(a, type(a))

In [4]:
a=10
b=20
a>b

False

In [5]:
a="10"
b="8"
a>b

False

In [6]:
# banana apple ant orange
# ant apple banana orange
ord("1")

49

In [7]:
ord("8")

56

In [8]:
s="apple"
s1="APPLE"
s>s1

True

In [9]:
ord("a")

97

In [10]:
ord("A")

65

In [11]:
s="apple"
s1="apple"
s>s1

False

In [12]:
l=[10,20,30,40]
k=[10,8,20000,30000]
l>k

True

In [13]:
l=[10,20,30,40]
k=[10,20,30,40]
l>k

False

In [14]:
40>40

False

In [15]:
a=10
b="2"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [16]:
a=10
b=23.45
a>b

False

In [17]:
a=10
b=3
a/b

3.3333333333333335

In [18]:
a=10
b=3
a//b

3

In [19]:
a=10
b=20

a in b

TypeError: argument of type 'int' is not iterable

In [20]:
s="python program"
s1="python"
s1 in s

True

In [21]:
a=input("Entr a value:")
b=input("enter b value:")
print(a,b)

Entr a value:10
enter b value:20
10 20

In [22]:
a=input("Entr a value:")
b=input("enter b value:")
c=input("Enter c value:")
print(max([a,b,c]))

Entr a value:2
enter b value:3
Enter c value:4
4

In [23]:
a=input("Entr a value:")
print(a, type(a))

Entr a value:10
10 <class 'str'>

In [24]:
a=input("Entr a value:")
print(a, type(a))

Entr a value:python
python <class 'str'>

In [25]:
a=input("Entr a value:")
print(a, type(a))

Entr a value:1+2j
1+2j <class 'str'>

In [26]:
a="1+2j"
print(a, type(a))

1+2j <class 'str'>

In [27]:
a=input("Entr a value:")
b=input("enter b value:")
c=input("Enter c value:")

print(max([a,b,c]))

Entr a value:10
enter b value:8
Enter c value:9
9

In [29]:
max([10,20,30,40])

40

In [30]:
max([10,"python",23,1+2j])

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
a=input("Entr a value:")
b=input("enter b value:")
c=input("Enter c value:")
a=int(a)
b=int(b)
c=int(c)
print(max([a,b,c]))

Entr a value:10
enter b value:23
Enter c value:5
23

In [32]:
a=input("Entr a value:")
b=input("enter b value:")
c=input("Enter c value:")
a=int(a)
b=int(b)
c=int(c)
print(max([a,b,c]))

Entr a value:12
enter b value:sdf
Enter c value:34.56

ValueError: invalid literal for int() with base 10: 'sdf'

In [33]:
a=2367
print(a, type(a))
a=0x4289
print(a,type(a))

2367 <class 'int'>
17033 <class 'int'>

In [34]:
a=0o10
print(a, type(a))

8 <class 'int'>

In [35]:
a=0b010101
print(a, type(a))

21 <class 'int'>

In [36]:
a=0o10
print(a)

8

In [37]:
b=0x10
print(b)

16

In [38]:
a=0o10
b=0x10
a+b

24

In [39]:
a=010
print(a)

SyntaxError: invalid token (<ipython-input-39-327108ba1796>, line 1)

In [40]:
a=0xab
print(a)

171

In [41]:
a=0xfba
print(a)

4026

In [42]:
a=0xa
print(a)

10

In [43]:
a=1234
print(bin(a))
print(oct(a))
print(hex(a))

0b10011010010
0o2322
0x4d2

In [44]:
a="1234"
b=int(a)
print(b, type(b))

1234 <class 'int'>

In [45]:
a="ad234"
b=int(a)

ValueError: invalid literal for int() with base 10: 'ad234'

In [46]:
a="ad234"
b=int(a,16)
print(b, type(b))

709172 <class 'int'>

In [47]:
a="12.34"
int(a)

ValueError: invalid literal for int() with base 10: '12.34'

In [48]:
a="12.34"
b=float(a)
c=int(b)
print(b, type(b))
print(c, type(c))

12.34 <class 'float'>
12 <class 'int'>