In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
fun()

this is class
this is fun

In [3]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")

this is class

In [6]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
print(Emp.a)
print(Emp.b)

this is class
1000
2000

In [7]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
        
print(Emp.a)
print(Emp.b)
Emp.get(100)

this is class
1000
2000
this is get in Emp class

In [8]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
print(Emp)

this is class
<class '__main__.Emp'>

In [9]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
print(Emp.company_address)
print(Emp.company_name)

Maithrivanam
KHYAATHi

In [10]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
print(Emp.company_address)
print(Emp.company_name)
Emp.get(10)

Maithrivanam
KHYAATHi
this is get in Emp class

In [11]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()

In [12]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
print(Emp) # class object
print(jay) # data object

<class '__main__.Emp'>
<__main__.Emp object at 0x0000021ABBE04828>

In [13]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
vedha = Emp()
vedha.age=23
vedha.sal=234

In [14]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
vedha = Emp()
vedha.age=23
vedha.sal=234
print(jay.name)
print(vedha.sal)
print(vedha.name)

JAYARAM
234

AttributeError: 'Emp' object has no attribute 'name'

In [15]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
jay.sal=2345
jay.age=24
vedha = Emp()
vedha.name="vedhanvesh"
vedha.doj="2018-09-23"
vedha.sal=3485
vedha.age=23

In [16]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.ahe=e_age
    def get(x):
        print("this is get in Emp class")
jay=Emp()
Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
'''
jay.name="JAYARAM"
jay.doj="2017-02-28"
jay.sal=2345
jay.age=24
'''
vedha = Emp()
'''
vedha.name="vedhanvesh"
vedha.doj="2018-09-23"
vedha.sal=3485
vedha.age=23
'''
Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
print(vedha.name)
print(jay.name)

Vedhanvesh
JAYARAM

In [18]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [19]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
#Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
#Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [20]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [21]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

TypeError: set_data() takes 4 positional arguments but 5 were given

In [22]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [23]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        print(id(self))
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
print(id(jay))
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
print(id(vedha))
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

2313844428472
2313844428472
2313844494856
2313844494856
('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [24]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

AttributeError: 'Emp' object has no attribute 'name'

In [25]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")

this is class

In [26]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")
    
jay=Emp()
vedha=Emp()

this is class
this is init
this is init

In [27]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")
    
jay=Emp()
vedha=Emp()
sai=Emp()

this is class
this is init
this is init
this is init

In [28]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self, name, age, sal):
        print(name, age, sal)
        print("this is init")
    
jay=Emp("JAYARAM",23,2345)
vedha=Emp("VEDHANVESH",34,4567)

this is class
JAYARAM 23 2345
this is init
VEDHANVESH 34 4567
this is init

In [29]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [30]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())
sai=Emp()

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

TypeError: __init__() missing 4 required positional arguments: 'e_name', 'e_age', 'e_sal', and 'e_doj'