In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
fun()

this is class
this is fun

In [3]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")

this is class

In [6]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
print(Emp.a)
print(Emp.b)

this is class
1000
2000

In [7]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
        
print(Emp.a)
print(Emp.b)
Emp.get(100)

this is class
1000
2000
this is get in Emp class

In [8]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    a=1000
    b=2000
    def get(x):
        print("this is get in Emp class")
print(Emp)

this is class
<class '__main__.Emp'>

In [9]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
print(Emp.company_address)
print(Emp.company_name)

Maithrivanam
KHYAATHi

In [10]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
print(Emp.company_address)
print(Emp.company_name)
Emp.get(10)

Maithrivanam
KHYAATHi
this is get in Emp class

In [11]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()

In [12]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
print(Emp) # class object
print(jay) # data object

<class '__main__.Emp'>
<__main__.Emp object at 0x0000021ABBE04828>

In [13]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
vedha = Emp()
vedha.age=23
vedha.sal=234

In [14]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
vedha = Emp()
vedha.age=23
vedha.sal=234
print(jay.name)
print(vedha.sal)
print(vedha.name)

JAYARAM
234

AttributeError: 'Emp' object has no attribute 'name'

In [15]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def get(x):
        print("this is get in Emp class")
jay=Emp()
jay.name="JAYARAM"
jay.doj="2017-02-28"
jay.sal=2345
jay.age=24
vedha = Emp()
vedha.name="vedhanvesh"
vedha.doj="2018-09-23"
vedha.sal=3485
vedha.age=23

In [16]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.ahe=e_age
    def get(x):
        print("this is get in Emp class")
jay=Emp()
Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
'''
jay.name="JAYARAM"
jay.doj="2017-02-28"
jay.sal=2345
jay.age=24
'''
vedha = Emp()
'''
vedha.name="vedhanvesh"
vedha.doj="2018-09-23"
vedha.sal=3485
vedha.age=23
'''
Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
print(vedha.name)
print(jay.name)

Vedhanvesh
JAYARAM

In [18]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [19]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
#Emp.set_data(jay,"JAYARAM",23,34567,"2017-02-28")
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
#Emp.set_data(vedha,"Vedhanvesh",24,2859596,"2018-06-14")
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [20]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(x, e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [21]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(e_name, e_age,e_sal,e_doj):
        x.name=e_name
        x.doj=e_doj
        x.sal=e_sal
        x.age=e_age
    def get(x):
        return x.name,x.age,x.sal,x.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(Emp.get(jay))
print(Emp.get(vedha))

TypeError: set_data() takes 4 positional arguments but 5 were given

In [22]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [23]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        print(id(self))
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
print(id(jay))
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
print(id(vedha))
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

2313844428472
2313844428472
2313844494856
2313844494856
('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [24]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def set_data(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp()
jay.set_data("JAYARAM",23,34567,"2017-02-28")
vedha = Emp()
vedha.set_data("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

AttributeError: 'Emp' object has no attribute 'name'

In [25]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")

this is class

In [26]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")
    
jay=Emp()
vedha=Emp()

this is class
this is init
this is init

In [27]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self):
        print("this is init")
    
jay=Emp()
vedha=Emp()
sai=Emp()

this is class
this is init
this is init
this is init

In [28]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
        return self.name, self.age
    def __init__(self, name, age, sal):
        print(name, age, sal)
        print("this is init")
    
jay=Emp("JAYARAM",23,2345)
vedha=Emp("VEDHANVESH",34,4567)

this is class
JAYARAM 23 2345
this is init
VEDHANVESH 34 4567
this is init

In [29]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [30]:
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())
sai=Emp()

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

TypeError: __init__() missing 4 required positional arguments: 'e_name', 'e_age', 'e_sal', and 'e_doj'

In [1]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [2]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.doj = "2019-02-24"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2019-02-24')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [3]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.__doj = "2019-02-24"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [5]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.__doj = "2019-02-24"
jay.name="JAYARAM123"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM123', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [6]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def update_doj(self, new_doj):
        self.__doj=new_doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.__doj = "2019-02-24"
jay.name="JAYARAM123"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM123', 23, 34567, '2017-02-28')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [7]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def update_doj(self, new_doj):
        #autherization
        self.__doj=new_doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.update_doj("2019-02-24")
jay.name="JAYARAM123"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM123', 23, 34567, '2019-02-24')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [8]:
type(jay)

__main__.Emp

In [9]:
a=10
type(a)

int

In [10]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __update_doj(self, new_doj):
        #autherization
        self.__doj=new_doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.__update_doj("2019-02-24")
jay.name="JAYARAM123"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

AttributeError: 'Emp' object has no attribute '__update_doj'

In [12]:
# encapsulation
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def change_doj(self, new_date):
        #authorization
        self.__update_doj(new_date)
    def __update_doj(self, new_doj):
        self.__doj=new_doj
jay=Emp("JAYARAM",23,34567,"2017-02-28")
jay.change_doj("2019-02-24")
jay.name="JAYARAM123"
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay.get())
print(vedha.get())

('JAYARAM123', 23, 34567, '2019-02-24')
('Vedhanvesh', 24, 2859596, '2018-06-14')

In [13]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")

In [14]:
a=10
b=20
print(a+b)
s1="stfr1"
s2="str2"
print(s1+s2)
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2)

30
stfr1str2
[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
jay+vedha

TypeError: unsupported operand type(s) for +: 'Emp' and 'Emp'

In [17]:
d={1:2}
d1={3:4}
d1+d

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [18]:
for i in "str":
    print(i)

s
t
r

In [19]:
for i in 100:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return 20
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
jay+vedha

20

In [21]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
jay+vedha

('JAYARAM', 'Vedhanvesh')

In [22]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))

('JAYARAM', 'Vedhanvesh')

TypeError: object of type 'Emp' has no len()

In [23]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))

('JAYARAM', 'Vedhanvesh')
20

In [24]:
len("str1")

4

In [25]:
len(1000)

TypeError: object of type 'int' has no len()

In [26]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

('JAYARAM', 'Vedhanvesh')
20

TypeError: 'Emp' object is not iterable

In [27]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        return [1,2,3]
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

('JAYARAM', 'Vedhanvesh')
20

TypeError: iter() returned non-iterator of type 'list'

In [28]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        yield 1
        yield 2
        yield 3
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

('JAYARAM', 'Vedhanvesh')
20
1
2
3

In [29]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)

('JAYARAM', 'Vedhanvesh')
20
('name', 'JAYARAM')
('_Emp__doj', '2017-02-28')
('sal', 34567)
('age', 23)

In [30]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)
dict(jay)

('JAYARAM', 'Vedhanvesh')
20
('name', 'JAYARAM')
('_Emp__doj', '2017-02-28')
('sal', 34567)
('age', 23)

{'name': 'JAYARAM', '_Emp__doj': '2017-02-28', 'sal': 34567, 'age': 23}

In [31]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)
print(dict(jay))
print(str(jay))

('JAYARAM', 'Vedhanvesh')
20
('name', 'JAYARAM')
('_Emp__doj', '2017-02-28')
('sal', 34567)
('age', 23)
{'name': 'JAYARAM', '_Emp__doj': '2017-02-28', 'sal': 34567, 'age': 23}
<__main__.Emp object at 0x000002761765CEB8>

In [32]:
# operator overloading
class Emp:
    company_name="KHYAATHi"
    company_address="Maithrivanam"
    def __init__(self, e_name, e_age,e_sal,e_doj):
        self.name=e_name
        self.__doj=e_doj
        self.sal=e_sal
        self.age=e_age
    def get(self):
        return self.name, self.age,self.sal,self.__doj
    def __add__(self1,self2):
        return self1.name,self2.name
    def __len__(self):
        return 20
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
    def __str__(self):
        return self.name
    
jay=Emp("JAYARAM",23,34567,"2017-02-28")
vedha = Emp("Vedhanvesh",24,2859596,"2018-06-14")
print(jay+vedha)
print(len(jay))
for i in jay:
    print(i)
print(dict(jay))
print(str(jay))

('JAYARAM', 'Vedhanvesh')
20
('name', 'JAYARAM')
('_Emp__doj', '2017-02-28')
('sal', 34567)
('age', 23)
{'name': 'JAYARAM', '_Emp__doj': '2017-02-28', 'sal': 34567, 'age': 23}
JAYARAM

In [34]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
o1=c1()
o2=c2()
o3=c3()
o1.op1()
o2.op2()
o3.op3()

this is op1 in c1
this is op2 in c2
this is op3 in c3

In [35]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3:
    def op3(self):
        print("this is op3 in c3")
o1=c1()
o1.op1()
o1.op2()
o1.op3()

this is op1 in c1

AttributeError: 'c1' object has no attribute 'op2'

In [37]:
class c1:
    def op1(self):
        print("this is op1 in c1")
class c2:
    def op2(self):
        print("this is op2 in c2")
class c3(c1,c2):
    def op3(self):
        print("this is op3 in c3")
o3=c3()
o3.op1()
o3.op2()
o3.op3()

this is op1 in c1
this is op2 in c2
this is op3 in c3

In [38]:
class c1:
    def op1(self):
        print("this is op1 in c1")
    def op2(self):
        print("this is op2 in c2")
    def op3(self):
        print("this is op3 in c3")
o3=c1()
o3.op1()
o3.op2()
o3.op3()

this is op1 in c1
this is op2 in c2
this is op3 in c3

In [39]:
class c1:
    def op1(self):
        print("this is op1 in c1")
    def op2(self):
        print("this is op2 in c2")
    def op3(self):
        print("this is op3 in c3")
class c2(c1):
    def op4(self):
        print("this is op4 in c2")
o3=c2()
o3.op1()
o3.op2()
o3.op3()
o3.op4()

this is op1 in c1
this is op2 in c2
this is op3 in c3
this is op4 in c2

In [40]:
class c1:
    def op1(self):
        print("this is op1 in c1")
    def op2(self):
        print("this is op2 in c2")
    def op3(self):
        print("this is op3 in c3")
    def op4(self):
        print("this is op4 in c2")
o3=c1()
o3.op1()
o3.op2()
o3.op3()
o3.op4()

this is op1 in c1
this is op2 in c2
this is op3 in c3
this is op4 in c2